    body {
        background-color: rgb(20, 19, 19);
    }
    
    .marg {
        margin-top: 5%;
    }
    
    .header {
        display: flex;
        color: white;
        background-color: rgb(20, 19, 19);
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-right: 20px;
        margin-left: 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        box-sizing: border-box;
        z-index: 1000;
    }
    
    .choix {
        display: flex;
        background-color: rgb(20, 19, 19);
        margin-left: 55px;
        position: fixed;
        top: 51PX;
        left: 0;
        width: 100vw;
        z-index: 1000;
    }
    
    .apres {
        background-color: rgb(20, 19, 19);
        color: white;
        height: 35px;
        width: 35px;
        margin: 23px 17px 22px 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .apres:hover {
        border-radius: 50%;
        background-color: #333;
    }
    
    .avant {
        background-color: rgb(20, 19, 19);
        color: white;
        margin: 23px 17px 22px 22px;
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .avant:hover {
        border-radius: 50%;
        background-color: #333;
    }
    
    .rec {
        margin-right: 15px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    
    .rec h1 {
        color: white;
        background-color: #333;
        background-repeat: no-repeat;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        border-radius: 6px;
        font-family: "Roboto", "Arial", sans-serif;
        transition: background-color 0.3s ease;
    }
    
    .rec h1:hover {
        background-color: rgba(103, 100, 100, 0.763);
        border-radius: 5px;
    }
    
    .left {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
    .right {
        display: flex;
        gap: 10px;
        cursor: pointer;
    }
    
    .bar {
        color: white;
        margin-right: 23px;
        margin-left: 6px;
        height: 35PX;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .bar i {
        font-size: 20px;
    }
    
    .bar:hover {
        border-radius: 50%;
        background-color: #333;
    }
    
    .bar1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 51px;
        margin-top: 12px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 65px;
        margin-top: 70px;
        z-index: 1000;
    }
    
    .bar1 ion-icon {
        color: rgb(255, 255, 255);
        margin-right: 16px;
        font-size: 24px;
    }
    
    .nav .bar1 a {
        color: white;
        text-decoration: none;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-family: 'DM Sans';
        margin-bottom: 15px;
    }
    
    .nav .bar1 a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
    }
    
    .tex {
        color: #7a7474;
        font-family: monospace;
        font-size: 12px;
        display: flex;
        align-items: self-start;
    }
    
    .tex img {
        height: 25px;
        margin-right: 5px;
    }
    
    .Creer h1 {
        color: white;
        font-size: 15px;
    }
    
    .plus {
        margin-top: 7px;
        margin-right: 5px;
        font-size: 25px;
        margin-left: -11px;
    }
    
    .Creer {
        color: white;
        margin-top: 5px;
        margin-left: 15px;
        background-color: #393939c2;
        display: flex;
        height: 39px;
        width: 85px;
        border-radius: 26px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .Creer:hover {
        background-color: #444343;
    }
    
    .mic1 {
        background-color: #313030;
        background-repeat: no-repeat;
        border-radius: 50%;
        height: 46px;
        width: 46px;
        font-size: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 0%;
        padding: 0%;
    }
    
    .mic1:hover {
        background-color: #888888ba;
    }
    
    .search {
        display: flex;
        justify-content: center;
        width: 68%;
        margin-top: 6PX;
    }
    
    .srch {
        margin-right: 15px;
        background-color: #393939c2;
        height: 39px;
        width: 60px;
        border: none;
        border-bottom-right-radius: 22px;
        border-top-right-radius: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .input1 {
        background-color: #39393979;
        height: 37px;
        width: 55%;
        border: none;
        border-bottom-left-radius: 22px;
        border-top-left-radius: 22px;
        padding-left: 10px;
        color: white;
        font-size: 16px;
    }
    
    .input1::placeholder {
        color: #bbb;
    }
    
    .srch ion-icon {
        color: white;
    }
    
    ion-icon {
        font-size: 25px;
        margin-left: 20px;
    }
    
    .ihe {
        display: flex;
        gap: 10px;
    }
    
    .per {
        display: flex;
        align-items: center;
        border-radius: 50%;
        font-size: 20px;
        height: 47px;
        width: 47px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        justify-content: center;
        margin-right: 56px;
    }
    
    .not {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 20px;
        height: 47px;
        width: 47px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .per:hover,
    .not:hover {
        background-color: #444343;
    }
    
    .nav {
        display: flex;
        justify-content: center;
    }
    
    .container1 {
        margin-left: 70px;
        padding: 20px;
        margin-top: 10px;
    }
    
    .video-grid {
        display: flex;
        flex-wrap: wrap;
        margin-top: 4%;
    }
    
    .video-card {
        border-radius: 18px;
        width: 343px;
        height: 334px;
        background-color: #99787800;
        margin-bottom: 0px;
        margin-left: 20px;
    }
    
    .thumbnail {
        position: relative;
        height: 180px;
        width: 100%;
        background-color: #333;
        border-radius: 5px;
        overflow: hidden;
        transition: .5s;
        object-fit: cover;
    }
    
    .thumbnail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .video-info {
        display: flex;
        margin-top: 5px;
        color: white;
    }
    
    .avatar img {
        width: 40px;
        height: 40px;
        background-color: #bbb;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
    }
    
    .video-details h3 {
        font-size: 16px;
        margin-bottom: 5px;
        color: #fff;
        font-family: cursive;
        text-decoration: none;
    }
    
    .channel-name {
        font-size: 14px;
        color: #aaa;
        text-decoration: none;
    }
    
    .video-stats {
        font-size: 13px;
        font-family: cursive;
        color: #888;
        text-decoration: none;
    }
    
    .video-card:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }
    
    .courte {
        display: flex;
        flex-direction: row;
    }
    
    .short {
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        transition: transform 0.2s ease;
        width: auto;
        height: auto;
        padding: 0%;
    }
    
    .texs {
        display: flex;
        flex-direction: row;
    }
    
    .ved {
        background-color: rgba(255, 255, 255, 0);
        width: 202px;
        height: 337px;
        border-radius: 10px;
    }
    
    .ved img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .chane {
        background-color: rgba(255, 255, 255, 0);
        width: 185px;
        height: 100px;
    }
    
    .titre {
        font-size: 15px;
        margin-bottom: 5px;
        color: #fff;
        font-family: cursive;
        text-decoration: none;
    }
    
    .views {
        font-size: 12px;
        color: #888;
    }
    
    .icone {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 30px;
        height: 30px;
        transition: transform 0.2s ease, background-color 0.2s ease;
    }
    
    .icone:hover {
        background-color: gray;
        border-radius: 50%;
    }
    
    .icone i {
        font-size: 17px;
    }
    
    .short:hover {
        transform: scale(1.009);
    }
    /* IPHONE 14 PRO MAX SCREEN*/
    
    @media only screen and (max-width: 430px) and (max-height: 932px) {
        .header {
            margin-right: 10px;
            margin-left: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 5%;
        }
        .left {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        /* Masque le contenu droit sur mobile */
        .right {
            display: none;
        }
        .bar {
            display: none;
        }
        .bar:hover {
            border-radius: 50%;
            background-color: #333;
        }
        .bar1 {
            background-color: rgb(20, 19, 19);
            display: flex;
            flex-direction: ROW;
            JUSTIFY-CONTENT: space-around;
            position: fixed;
            top: 74%;
            left: 0%;
            width: 100%;
            height: 7%;
            margin-top: 4px;
            transform: translateY(511PX);
        }
        .nav .bar1 a {
            color: white;
            text-decoration: none;
            padding: 12px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 42px;
            font-family: 'DM Sans';
            margin-bottom: 37px;
        }
        .bar1 ion-icon {
            font-size: 75px;
        }
        /*acceuil shorts ... */
        .choix {
            display: flex;
            background-color: rgb(20, 19, 19);
            margin-left: 0px;
            position: fixed;
            top: 125PX;
            left: 0;
            width: 100%;
            z-index: 1000;
        }
        .rec h1 {
            color: white;
            background-color: #333;
            background-repeat: no-repeat;
            font-size: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 13px;
            border-radius: 6px;
            font-family: "Roboto", "Arial", sans-serif;
            transition: background-color 0.3s ease;
        }
        /* youtube logo + MA*/
        .tex {
            color: #7a7474;
            font-family: monospace;
            font-size: 38px;
            display: flex;
            align-items: self-start;
            margin-left: 23px;
        }
        .tex img {
            height: 78px;
        }
        .search {
            display: flex;
            justify-content: end;
            width: 68%;
            margin-top: 6PX;
        }
        .srch {
            margin-right: 15px;
            background-color: #39393900;
            height: 53px;
            width: 83px;
            border: none;
            border-bottom-right-radius: 22px;
            border-top-right-radius: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .input1 {
            display: none;
        }
        .srch ion-icon {
            color: white;
            font-size: 56px;
        }
        .mic1 {
            display: none;
        }
        .video-card {
            border-radius: 18px;
            width: 96%;
            height: 727PX;
            DISPLAY: flex;
            flex-direction: column;
            background-color: #99787800;
            margin-bottom: 0px;
            margin-left: 34px;
            position: relative;
            margin-bottom: 29px;
            margin-top: 83px;
        }
        .container1 {
            margin-left: 22px;
            padding: 17px;
            margin-top: 10px;
            DISPLAY: flex;
            flex-direction: column;
            width: 262%;
        }
        .thumbnail {
            position: relative;
            height: 510px;
            width: 96%;
            background-color: #333;
            border-radius: 5px;
            overflow: hidden;
            transition: .5s;
            object-fit: cover;
        }
        .thumbnail img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .marg {
            margin-top: 61%;
            width: 424PX;
            HEIGHT: 2850PX;
        }
        .video-grid {
            display: flex;
            FLEX-DIRECTION: column;
            margin-top: 4%;
            width: 100%;
        }
        .video-info {
            color: white;
        }
        /* logo de chaine */
        .avatar img {
            width: 91px;
            height: 91px;
            background-color: #bbb;
            border-radius: 50%;
            margin-right: 10px;
            margin-top: 7px;
            object-fit: cover;
        }
        .video-details h3 {
            font-size: 33px;
            margin-bottom: 3px;
            color: #fff;
            font-family: cursive;
            text-decoration: none;
        }
        .channel-name {
            font-size: 34px;
            color: #aaa;
            text-decoration: none;
        }
        .video-stats {
            font-size: 28px;
            font-family: cursive;
            color: #888;
            text-decoration: none;
        }
        .short {
            display: flex;
            flex-direction: column;
            margin-left: 80px;
            transition: transform 0.2s ease;
            width: auto;
            height: auto;
            padding: 0%;
        }
        .court {
            margin-top: 558%;
            width: 431PX;
            HEIGHT: 410px;
            position: relative;
        }
        .second {
            margin-left: 22px;
            padding: 17px;
            margin-top: 0%;
            DISPLAY: flex;
            flex-direction: column;
            width: 262%;
        }
    }
    /*pour tablet Ipad pro */
    
    @media (max-width: 1024px) and (min-width: 932px) {
        .header {
            margin-left: 15px;
            margin-right: 15px;
            height: 9%;
        }
        .bar1 {
            background-color: rgb(20, 19, 19);
            display: flex;
            flex-direction: ROW;
            JUSTIFY-CONTENT: space-around;
            position: fixed;
            top: 56%;
            left: 0%;
            width: 100%;
            height: 7%;
            margin-top: 4px;
            transform: translateY(511PX);
        }
        .bar1 ion-icon {
            font-size: 65px;
        }
        .nav .bar1 a {
            color: white;
            font-size: 22px;
            font-family: 'DM Sans';
        }
        .choix {
            top: 99px;
            margin-left: 33px;
        }
        .input1 {
            background-color: #39393979;
            height: 54px;
            width: 70%;
            border: none;
            border-bottom-left-radius: 22px;
            border-top-left-radius: 22px;
            padding-left: 10px;
            color: white;
            font-size: 22px;
        }
        .rec h1 {
            color: white;
            background-color: #333;
            background-repeat: no-repeat;
            font-size: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 10px;
            border-radius: 6px;
            font-family: "Roboto", "Arial", sans-serif;
            transition: background-color 0.3s ease;
        }
        .apres i {
            font-size: 25px;
        }
        .tex img {
            height: 51px;
            margin-right: 11px;
        }
        .srch {
            margin-right: 15px;
            background-color: #39393900;
            height: 53px;
            width: 83px;
            border: none;
            border-bottom-right-radius: 22px;
            border-top-right-radius: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .srch ion-icon {
            color: white;
            font-size: 45px;
        }
        .mic1 {
            display: none;
        }
        .video-card {
            width: 48%;
            height: auto;
            margin-left: 10px;
            MARGIN-RIGHT: auto;
        }
        .thumbnail {
            height: 250px;
        }
        .avatar img {
            width: 50px;
            height: 50px;
        }
        .video-details h3 {
            font-size: 18px;
        }
        .channel-name,
        .video-stats {
            font-size: 14px;
        }
        .video-grid {
            display: flex;
            flex-wrap: wrap;
            margin-top: 15%;
        }
        .short {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            transition: transform 0.2s ease;
            width: auto;
            height: auto;
            padding: 0%;
        }
        .courte {
            display: flex;
            flex-direction: row;
        }
        .bar {
            display: none;
        }
        .right {
            display: none;
        }
    }